.mycontainer(class="alert alert-success text-center p-2") “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”
.mycontainer(class="bg-white d-flex flex-row py-3 w-100 m-auto" style="position: sticky; top: 0")
    div(class="d-flex flex-row align-items-center justify-content-center" style="Width: 75px")
        img(src="/static/Images/logo.png" class="img-fluid w-50")
    div(class="px-4 d-flex flex-row justify-content-between align-items-center w-100 ") 
        div     
            h2 Dashboard
        a(href="#" ) Admin
            i(class="fa-solid fa-caret-down ps-2")
